/* stile generale della pagina */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(246, 248, 249);
    font-family: 'Roboto', sans-serif;
    color: rgb(68, 72, 81);
}

/* stile del logo della pagina */
header {
    background-color: white;
}

#logoimg {
    padding: 15px 0px 15px 20px;
    vertical-align: middle;
}

#logoname {
    vertical-align: middle;
    display: inline-block;
    font-weight: bold;
    font-size: 40px;
    color: black;
}

/* stile del blocco centrale della pagina */
main {
    width: 800px;
    height: 800px;
    margin: 3% auto;
}

/* stile dei pulsanti di add */
.button {
    padding: 10px 20px;
    background-color: white;
}

#addtask {
    padding: 5px;
    background-color: rgb(71, 173, 241);
    border-radius: 5px;
    border: 1px solid rgb(71, 173, 241);
    color: white;
}

#addsection {
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid lightgrey;
    color: lightgrey;
}

/* divisione tra buttons e tasks */
hr {
    border: 1px solid rgb(246, 248, 249);
}

/* stile elenco task */
.set {
    padding-left: 40px;
    padding-bottom: 40px;
    background-color: white;
}

.task {
    padding-top: 15px;
}

/* titolo del set di task */
.menu {
    padding-top: 30px;
    font-size: 20px;
    font-weight: bold;
}

.triangle {
    display: inline-block;
    vertical-align: middle;
    width: 0; 
    height: 0; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid rgb(68, 72, 81);
}

/* successo o insuccesso con check e cross */
.check {
    margin: 4px;
    display: inline-block;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px;
    border: 1px solid green;
    border-radius: 50%;
    color: green;
}
.cross {
    margin: 4px;
    display: inline-block;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px;
    border: 1px solid red;
    border-radius: 50%;
    color: red;
}

/* stile delle singole task */
.tasktype {
    font-size: 16px;
}

.subject {
    font-size: 10px;
    color: white;
    border-radius: 10px;
    padding: 4px 8px;    
}

/* colori singole task */
.editorial {
    background-color: rgb(69, 171, 234);
    border: 1px solid rgb(69, 171, 234);
}

.q1goals {
    background-color: rgb(156, 114, 228);
    border: 1px solid rgb(156, 114, 228);
}

.recruiting {
    background-color: rgb(100, 192, 169);
    border: 1px solid rgb(100, 192, 169);
}

.mobile {
    background-color: rgb(242, 158, 51);
    border: 1px solid rgb(242, 158, 51);
}

.website {
    background-color: rgb(216, 99, 161);
    border: 1px solid rgb(216, 99, 161);
}

.sales {
    background-color: rgb(176, 201, 38);
    border: 1px solid rgb(176, 201, 38);
}

