/* stile generale della pagina */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(246, 248, 249);
    font-family: 'Roboto', sans-serif;
    color: rgb(68, 72, 81);
}

/* stile del logo della pagina */
header {
    background-color: white;
}

#logoimg {
    padding: 15px 0px 15px 20px;
    vertical-align: middle;
}

#logoname {
    vertical-align: middle;
    display: inline-block;
    font-weight: bold;
    font-size: 40px;
    color: black;
}

/* stile del blocco centrale della pagina */
main {
    width: 800px;
    height: 800px;
    margin: 3% auto;
}

/* stile dei pulsanti di add */
.button {
    padding: 10px 20px;
    background-color: white;
}

#addtask {
    padding: 5px;
    background-color: rgb(71, 173, 241);
    border-radius: 5px;
    border: 1px solid rgb(71, 173, 241);
    color: white;
}

#addsection {
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid lightgrey;
    color: lightgrey;
}

/* divisione tra buttons e tasks */
hr {
    border: 1px solid rgb(246, 248, 249);
}

/* stile elenco task */
.task {
    margin-top: 2px;
    padding: 0px 40px;
    background-color: white;
}

.menu {
    padding-top: 30px;
    font-size: 20px;
    font-weight: bold;
}

.menu::before {
    content: "\25BC";
}

.check {
    margin: 4px;
    display: inline-block;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px;
    content: "\2713";
    border: 1px solid green;
    border-radius: 50%;
    color: green;
}

.tasktype {
    font-size: 16px;
    font-weight: bold;
}

.editorial {
    font-size: 12px;
    background-color: rgb(69, 171, 234);
    color: white;
    border: 1px solid rgb(69, 171, 234);
    border-radius: 10px;
    padding: 4px;
}


